@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.logout {
  cursor: pointer;
  position: fixed;
  right: 2vw;
  top: 2vw;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input {
  width: 50vw;
}

.App-link {
  color: #09d3ac;
}
